### <center> ASSIGNMENT

1. The for loop is used when we already know the number of iterations, which means when we know how many times a statement has to be executed. In while loop the program runs until a specific condition is met which is specified. As soon as the condition evaluates to false the loop stops to execute.

In [7]:
#For Loop-
for i in (range(5)):
    print(i)

0
1
2
3
4

In [8]:
#While loop-
i=0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

2.

In [11]:
#Using For Loop-
sum=0
product=1
for i in range(1,11):
    sum+=i
    product*=i
print(sum,product)

55 3628800

In [12]:
#Using While Loop-
sum=0
product=1
i=1
while i<=10:
    sum+=i
    product*=i
    i+=1
print(sum,product)

55 3628800

3.

In [13]:
units=int(input())
cost=0
if units>300:
    cost=(20*(units-300))+(10*100)+(6*100)+(4.5*100)
elif units>200:
    cost=(10*100)+(6*100)+(4.5*100)
elif units>100:
    cost=(6*100)+(4.5*100)
else:
    cost=(4.5*100)
print(cost)

 310

2250.0

4.

In [14]:
#Using for loop-
numbers=list(range(1,101))
result=[]
for i in numbers:
    cube=i**3
    if cube%4==0 or cube%5==0:
        result.append(i)
print(result)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [20]:
#Using while loop-
numbers=list(range(1,101))
result=[]
i=0
while i < len(numbers):
    cube=numbers[i]**3
    if cube%4==0 or cube%5==0:
        result.append(numbers[i])
    i+=1
print(result)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

5.

In [25]:
string = "I want to become a data scientist"
count=0
for i in string:
    if i.lower() in ['a','e','i','o','u']:
        count+=1
print(count)

12